body {
background-color: #F2F2F2;
color: #000000;
font-family:'Noto Sans', sans-serif;
font-size: 12px;
line-height: 15px;
   }
   
h1 {
  color: #9C3A3A;
  font-family:'Bitter', serif;
  font-size: 40px;
  }

h2 {
  color: #9C3A3A;
  font-family:'Bitter', serif;
  font-size: 40px;
  }
  
  
.wrapper {
background-color: #E0775A;
opacity: 0.8;
width: 710px;
margin: 20px auto;
padding: 10px 30px 10px 30px;
line-height: 29px;
}

a:hover {
color: #9C3A3A;
font-family: 'Bitter', serif;
font-size: 20px;
font-weight: 400;
background-color: #EBC5C5; 

}



nav li {
list-style-type:none;
display: inline-block;
margin: 20px auto;
padding: 5px 34px 5px 34px;



}

nav ul li a {
display: block;
color: #9C3A3A;
font-family: 'Bitter', serif;
font-size: 20px;
font-weight: 400;
background-color: #B9E4F0;
border: 1px solid #9C3A3A;
padding: 5px;
text-align: center;
margin: 5px auto;


 {






  


  
